<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.acemirr.projectwork">

    <uses-sdk tools:overrideLibrary="com.ocetnik.timer, com.facebook.react, org.jitsi.meet.sdk, co.apptailor.googlesignin,         com.calendarevents, com.reactnativecommunity.asyncstorage, com.reactnativecommunity.netinfo,         com.kevinresol.react_native_default_preference, com.rnimmersive, com.corbt.keepawake,         com.BV.LinearGradient, com.horcrux.svg, com.oney.WebRTCModule" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectWork"
        tools:targetApi="n">
        <activity android:name=".ui.view.AddMeetActivity" />
        <activity android:name=".ui.view.ListMeetActivity" />
        <activity android:name=".ui.view.VerifyActivity" />
        <activity android:name=".ui.view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>